* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}
.header {
    position: relative;
    /* background-color: rgb(0, 255, 255,.2); */
    height: 70px;
}

.header ul {
    list-style: none;
    display: flex;
    position: absolute;
    right: 50px;
    top: 15px;
}

.header ul li {
    margin: 5px;
    /* box-shadow: 0 5px 0 #888; */
    width: 50px;
    text-align: center;
    border-radius: 5px;
    color: #09B3B0;
}

.header ul li:hover {
    color: #FF9F00;
    text-decoration: underline;
}

.header ul a {
    text-decoration: none;
    /* margin-top: 8px; */
    /* position: absolute; */
    font-size: 20px;
    color: #fff;
    background-color: #09B3B0;
    border-radius: 50%;
    /* height: 25px; */
    padding: 8px;
    /* width: 25px; */
}

.header button {
    margin: 0 10px;
    background-color: #09B3B0;
    border: 0px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 5px #888;
    color: #fff;

}

.header .logo {
    width: 200px;
    position: absolute;
}

.main img {
    object-fit: cover;
    height: 500px;
    width: 100%;
}

.main h5 {
    position: absolute;
    width: 494px;
    height: 300.61px;
    left: 60px;
    top: 180px;
    font-family: 'Winter Insight';
    font-style: normal;
    font-weight: 400;
    font-size: 115px;
    line-height: 96.32%;
    /* or 130px */
    text-align: center;
    color: #FF9F00;
}

.main p {
    position: absolute;
    width: 428px;
    height: 20px;
    left: 124px;
    top: 440.4px;

    font-family: 'Winter Insight';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 38px;
    /* or 127% */

    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}

.lastsec {
    background-color: #09B3B0;
    height: 100px;
}

.lastsec p {
    color: #fff;
    font-size: 30px;
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
}

.container .card {
    background-color: rgb(223, 222, 222, 0);
    width: 100%;
    height: 200px;
    position: relative;
    border: 0px;


}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: 30px;
    left: 20px;

}

.container .card .text {
    position: absolute;
    left: 200px;
    text-align: left;
    width: 400px;
    top: 20px;
}

.container .card .text h5 {
    color: #09B3B0;

}

.container .card .contact {
    display: flex;
    position: absolute;
    right: -500px;
    top: 0px;
    color: #fff;
    display: block;

}

.container .card .contact .time {
    padding-left: 5px;
    margin-top: 2px;
    background-color: #09B3B0;
}

.container .card .contact .price {
    background-color: #fff;
    color: #000;
}

.container .card .contact .call {
    background-color: #FF9F00;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgb(145, 145, 145);
}

.container .card .contact .call:hover{
color: #000;
transition: all .2s;
}
.container .card .contact .chat:hover {
    color: #000;
    transition: all .2s;
}
.container .card .contact .chat {
    background-color: #09B3B0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgb(145, 145, 145);
}

.bg {
    background-image: url(../images/section.png);
    object-fit: cover;
    width: 100%;
}

.btn {
    margin-left: 360px;
}

.btn .btn1,
.btn2 {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #000;
    width: 210px;
    color: #fff;
}

.btn .btn1 {
    background-color: #09B3B0;
}
.btn .btn1:hover{  
width:230px;
box-shadow: 0 10px 10px rgb(173, 173, 173);

}
.btn .btn2:hover {
box-shadow: 0 10px 10px rgb(173, 173, 173);
    width: 230px;
}

.btn .btn2 {
    background-color: #FF9F00;
}

.section_two {
    background-color: #EDF8F9;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.section_two h3 {
    width: 320px;
}

.section_two p {
    width: 300px;
    text-align: left;
}

.section_two i {
    font-size: 50px;
    background-color: #09B3B0;
    border-radius: 50%;
    padding: 20px;
    color: #fff;
}

.section_two #title {
    color: #09B3B0;
    font-weight: bold;
    font-size: 24px;
}

.section_two a {
    color: #09B3B0;
    text-decoration: none;
    position: absolute;
    bottom: 80px;
    margin-left: 85px;
}
.cont{
    display: flex;
/* max-width: 80%; */
 margin-left: 80px;
    
}
.cardsec {
    flex-wrap: nowrap;
    width: 10%;
    margin: 100px;

}
.section_three .sec3{
margin: 0 auto;
    width: 80%;
}
.section_three{
    position: relative;
    background-image: linear-gradient( #ecf5f5 ,#84acaa);
background-color: #bce7e7;
align-items: center;
}
.section_three h4{
text-align: center;
padding-top: 10px;
}
.section_three p{
    text-align: center;
}
.section_three .links{
    display: flex;
    flex-wrap: wrap;
margin: 0 200px;
}
.section_three .links  a{
    padding: 5px;
    text-decoration: none;
}
.section_three .sec3 button{
margin-left: 43.5%;
margin-top: 10px;
}
.footer{
    background-color: #09B3B0;
    display: flex;
    position: relative;
}
.footer .side{
    display: flex;
}
.footer .side img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 0;
    /* background-color: #fff; */
}
.footer .side p{
    position: absolute;
    left: 220px;
    top: 30px;
    font-weight: bold;
    color: #fff;
}
.footer .side b{
    position: absolute;
    left: 220px;
        top: 50px;
    font-weight: 100;
        color: #fff;
}
.footer .link{
position: absolute;
left: 115px;
top: 150px;
}
.footer .link a{
text-decoration: none;
color: #fff;
}
.footer .link a:hover {
    text-decoration: underline;
    color: #f7e010;
}
 .footer .social{
    width: 50%;
    margin-left: 650px;
 }
 .footer .social b{
    position: absolute;
    top: 20px;
    color: #fff;

 }
 .footer .social  .social_links{
position: absolute;
top: 50px;
 }
 .footer .social p{
    color: #fff;
    text-align: left;
 }
 .footer .social_links i:hover{
    font-size: 24px;
    color: #fff;
    /* background-color: #fff; */
 }
